<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.clear.androidfeatures">

    <!-- Needed to persist the JobService -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- Needed to run JobIntentService on API <26 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".IndexActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".jobscheduler.activities.JobSchedulerActivity"
            android:label="@string/job_scheduler_title">
            <intent-filter>
                <action android:name="com.clear.ACTION_FEATURE_ACTIVITY" />
            </intent-filter>
        </activity>

        <service
            android:name=".jobscheduler.services.ConnectivityChangesJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name=".jobscheduler.services.PeriodicJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name=".jobscheduler.services.UriChangesJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name=".jobscheduler.services.InfiniteLoopJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name=".jobinfo.JobInfoActivity"
            android:label="@string/job_info_title">
            <intent-filter>
                <action android:name="com.clear.ACTION_FEATURE_ACTIVITY" />
            </intent-filter>
        </activity>

        <activity android:name=".jobinfo.JobInfoSettingsActivity"
            android:label="@string/job_info_settings_title"
            android:parentActivityName=".jobinfo.JobInfoActivity"/>

        <service android:name=".jobinfo.JobInfoService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name=".jobintentservice.JobIntentServiceActivity"
            android:label="@string/job_intent_service_title">
            <intent-filter>
                <action android:name="com.clear.ACTION_FEATURE_ACTIVITY" />
            </intent-filter>
        </activity>

        <receiver android:name=".jobintentservice.JobIntentServiceFragment$ProgressUpdateReceiver" />

        <service android:name=".jobintentservice.JobIntentServiceService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>